@import "../../sass/colors";
@import "../../sass/mixins";

header {
  position: relative;
  z-index: 999;

  nav {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50%;
    height: 3rem;
    padding: 0.5rem 0;
    transform: translateX(-50%);

    @media (min-width: 640px) {
      height: initial;
      padding-bottom: 0;
    }

    ul {
      display: flex;
      width: 22rem;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 0.9rem;
      font-weight: medium;
      gap: 0.25rem 0;

      @media (min-width: 640px) {
        width: initial;
        flex-wrap: nowrap;
        gap: 1.25rem;
      }

      li {
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          @include linkStyles;

          &:hover {
            color: $gray-950;
          }
        }

        .link-active {
          @include linkStyles;
          color: $gray-950;
          font-weight: bold;
        }
      }
    }
  }

  .header__background {
    position: fixed;
    top: 0;
    left: 50%;
    height: 4.5rem;
    width: 100%;
    border: 1px solid #ffffff66;
    background-color: #ffffffcc;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(0.5rem);
    border-radius: 0;

    @media (min-width: 640px) {
      top: 1.5rem;
      height: 3.25rem;
      width: 36rem;
      border-radius: 99px;
    }
  }
}
