@import "../../sass/colors";

.section-divider {
  background-color: $gray-200;
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 4rem;
  width: 0.25rem;
  border-radius: 999px;
  display: none;

  @media (min-width: 640px) {
    display: block;
  }
}
