@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../sass/colors";

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: $gray-50;
  color: $gray-950;
  position: relative;
  padding-top: 8rem;
}

.redBlur {
  background-color: #fbe2e3;
  position: absolute;
  top: -6rem;
  right: 11rem;
  height: 31.25rem;
  width: 31.25rem;
  border-radius: 100%;
  filter: blur(10rem);
  z-index: -10;

  @media (min-width: 640px) {
    width: 68.75rem;
  }
}

.blueBlur {
  background-color: #dbd7fb;
  position: absolute;
  top: -1rem;
  left: -35rem;
  height: 31.25rem;
  width: 50rem;
  border-radius: 100%;
  filter: blur(10rem);
  z-index: -10;

  @media (min-width: 640px) {
    width: 68.75rem;
  }

  @media (min-width: 768px) {
    left: -33rem;
  }

  @media (min-width: 1024px) {
    left: -28rem;
  }

  @media (min-width: 1280px) {
    left: -15rem;
  }

  @media (min-width: 1536px) {
    left: -5rem;
  }
}
