@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR DESIGN! */
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
  border-radius: 99px;
}
