@import "../../sass/colors";

.send-button {
  background-color: $gray-700;
  font-weight: 600;
  border-radius: 99px;

  &:hover {
    background-color: $gray-950;
  }

  &:active {
    transform: translateY(3px);
    transition: 100ms;
  }

  @media (max-width: 500px) {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
  }
}
